@font-face {
  font-family: 'TT Lakes';
  src:
      url('../fonts/TTLakes-Bold.eot') format('eot'),
      url('../fonts/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'TT Lakes';
  src:
      url('../fonts/TTLakes-Medium.eot') format('eot'),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes';
  src:
      url('../fonts/TTLakes-Regular.eot') format('eot'),
      url('../fonts/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes-Regular.woff') format('truetype');
  font-weight: 400;
}

